<div class="banner banner--homepage">
  <div class="banner__content">
    <h1 class="banner__content__title">We know healthcare.</h1>
    <p class="banner__content__intro">
      We are private equity investors with over 100 years of combined experience and more than 15 investments. We can help you be successful.
    </p>

    {{link-to "Our Approach" "approach.index" class="banner__content__call-to-action"}}
  </div>
</div>

<div class="content">
  <div class="content__sizer">
    <h2>News &amp; Updates</h2>

    <ul class="homepage__news">
      {{#each news as |item|}}
        <li class="homepage__news__item">
          {{#if item.url}}
            <a href={{item.url}}>
              <span class="homepage__news__item__link__image">
                <img src="/images/news/{{item.image}}.jpg">
              </span>
              <span class="homepage__news__item__link__title">
                {{item.title}}
              </span>
            </a>
          {{else}}
            {{#link-to "news.index.view" item class="homepage__news__item__link"}}
              <span class="homepage__news__item__link__image">
                <img src="/images/news/{{item.image}}.jpg">
              </span>
              <span class="homepage__news__item__link__title">
                {{item.title}}
              </span>
            {{/link-to}}
          {{/if}}
        </li>
      {{/each}}
    </ul>

    {{link-to "More News" "news.index" class="homepage__more-news"}}
  </div>
</div>
