<div class="banner banner--team">
  <div class="banner__content">
    <h1 class="banner__content__title">A world class team.</h1>
    <p class="banner__content__intro">
      We dedicate a team of professionals to each partnership to identify and evaluate potential acquisitions, develop growth strategies and maximize value upon exit.
    </p>
  </div>
</div>


<div class="team">
  <div class="content">
    <div class="content__sizer">
      <h2>Investment Team</h2>
      <p>
        At DW Healthcare Partners we put our experience to work, not just our capital. Our greatest asset is the strength of our investment team. When you partner with DW Healthcare Partners you leverage more than 100 years of healthcare operating, marketing and acquisition expertise and a deep network of industry relationships.
      </p>

      <ul class="team__list">
        {{#each investment as |person|}}
          <li class="team__list__item">
            {{#link-to  "team.view" person class="team__list__item__photo"}}
              <img src="/images/team/{{person.image}}.jpg">
            {{/link-to}}
            {{link-to person.name "team.view" person class="team__list__item__name"}}
            <div class="team__list__item__title">{{person.title}}</div>
          </li>
        {{/each}}
      </ul>
    </div>
  </div>

  <div class="content--blue-block">
    <div class="content">
      <div class="content__sizer">
        <h2>Investment Sourcing</h2>
        <p>
          Our Investment Sourcing team maintains relationships with thousands of business owners in the North American healthcare arena, and identifies hundreds of potential investment opportunities for DW Healthcare Partners, annually. They leverage these relationships when actively pursuing add-on acquisition opportunities for our partners, and this strategy has proven to accelerate growth for all of our platform investments.
        </p>

        <ul class="team__list">
          {{#each sourcing as |person|}}
            <li class="team__list__item">
              {{#link-to  "team.view" person class="team__list__item__photo"}}
                <img src="/images/team/{{person.image}}.jpg">
              {{/link-to}}
              {{link-to person.name "team.view" person class="team__list__item__name"}}
              <div class="team__list__item__title">{{person.title}}</div>
            </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="content__sizer">
      <h2>Administration</h2>
      <p>
        DW Healthcare Partners has a talented group of professionals that manage and support our offices in Toronto, Ontario and Park City, Utah.
      </p>

      <ul class="team__list">
        {{#each admin as |person|}}
          <li class="team__list__item">
            {{#link-to  "team.view" person class="team__list__item__photo"}}
              <img src="/images/team/{{person.image}}.jpg">
            {{/link-to}}
            {{link-to person.name "team.view" person class="team__list__item__name"}}
            <div class="team__list__item__title">{{person.title}}</div>
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>
