<div class="banner banner--companies">
  <div class="banner__content">
    <h1 class="banner__content__title">You will be in great company.</h1>
    <p class="banner__content__intro">
      With more than 15 investments, we have a history of helping founders build great companies.
    </p>
  </div>
</div>

<div class="companies">
  <div class="content content--sizer">
    <h2>Current</h2>

    <ul class="companies__list">
      {{#each current as |company|}}
        <li class="companies__list__item">
          {{#link-to "companies.view" company class="companies__list__item__sizer"}}
            <img src="/images/companies/{{company.image}}.png" alt={{company.name}}>
          {{/link-to}}
        </li>
      {{/each}}
    </ul>

    <h2>Past</h2>

    <ul class="companies__list">
      {{#each past as |company|}}
        <li class="companies__list__item">
          {{#link-to "companies.view" company class="companies__list__item__sizer"}}
            <img src="/images/companies/{{company.image}}.png" alt={{company.name}}>
          {{/link-to}}
        </li>
      {{/each}}
    </ul>
  </div>
</div>

{{outlet}}
